*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../images/restro.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 310px;
    opacity: 0.9;
}
h2{
    text-align: center;
    margin: 85px;
    font-size: 40px;
    color: red;
    text-decoration: underline white ;
}
table{
    margin: auto;
    height: 200px;
    width: 400px;
    border-collapse: collapse;
}
tr{
    background-color: brown;
    color: white;
    height: 40px;
    text-align: center;
}